{% extends "default.twig" %}
{% block title %}Stránka nenalezena{% endblock %}

{% block content %}
    Chyba, požadovaná stránka neexistuje
    padejte zpět na <a href="index.php">Domovskou stránku</a>
{% endblock %}