{% extends "default.twig" %}
{% block title %}Domovská stránka{% endblock %}

{% block content %}
    <div class ="uvod">
    <h1> O nás</h1>
    <p>
       V naší stylové restuaraci je k dispozici 58 míst k sezení. 
       Pro menší společnost do 16 osob lze využít odděleného salónku.
       Posedět můžete i na terase, nejen v létě, ale i v zimě. 
       Teráska je prosklená a nabízí krásný pohled do zasněžené krajiny, 
       naopak v létě na Vás dýchne kouzlo šumavských lesů. Terasa nabízí dalších 42 míst k sezení.
    </p>
    <p>
     V letních měsících každý pátek a sobotu grilování steaků a čerstvých ryb.
     V nabídce je též velký výběr kvalitních řeckých vín a koňaků. Restaurace nabízí speciality
     tradiční řecké a středomořské kuchyně, jehněčí maso, zvěřina, ryby, steaky,
     míchané saláty a gyros. Servírují se speciality připravené výlučně z pravých a
     čerstvých řeckých surovin.   
   
    </p>
    
    <p>
      Restaurace je také nově nekuřácká, kouřit lze v prostorách zahradní restaurace a salonku.
      Každý týden pro Vás budou připravovány nové středomořské speciality a v pracovních dnech 
      v době od 11 hod. do 15 hod. vždy čerstvé polední menu. Nově také byla prodloužena otevírací doba.  
        
    </p>
    
    <h1> Otvírací doba </h1>
    <p>
        Těšíme se na vás každý všední den od 10:30 do 14:00 a od 11:00 do 15:00 o víkendu.
    </p>
    
    <h1> Kde nás najdete </h1>
    <p>
    Naše stylová restaurace se nachází nedaleko Erbenovo náměstí v Brně. Dostanete se k nám 
    například autobusem číslo 15, jehož zastávka "U duhy" je asi 50 metrů od našeho podniku.
    </p>
    </div>
{% endblock %}